* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: Arial, sans-serif;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #ddd solid 1px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 70%;
    width: 25%;
    gap: 25px;
    
}
.em ,.ps,.fn,.cps{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
    font-size: 16px;
   
    
}
button{
    background-color:#007bff;
    color: white;
    width: 80%;
    border-radius: 5px;
    height: 33px;
    border: none;
}
a{
    text-decoration: none;
    color: #007bff;
}
input{
    height: 33px;
    font-size: 16px;
    
}
h4{
    font-weight: 300;
}
button:hover{
    scale: 1.02;
}